.header {
  padding-top: 49px;
  padding-left: 65px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__burger {
  position: relative;
  margin-right: 45px;
  width: 33px;
  height: 14px;
  cursor: pointer;
  :active {
    &:before,
    &:after {
      background-color: var(--red);
    }
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
  }

  &:before {
    top: 0;
    width: 100%;
  }

  &:after {
    bottom: 0;
    width: 21px;
    transition: all 0.3s ease;
  }

  &:hover {
    &:after {
      animation: burger 0.3s infinite ease-in-out;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes burger {
  from {
    left: 0;
  }

  to {
    left: 12px;
  }
}
