.header {
  padding-top: 49px;
  padding-left: 65px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  &.header-top {
    position: absolute;
  }
}

.header__burger {
  position: relative;
  margin-right: 45px;
  width: 33px;
  height: 14px;
  cursor: pointer;
  :active {
    &:before,
    &:after {
      background-color: var(--red);
    }
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
  }

  &:before {
    top: 0;
    width: 100%;
  }

  &:after {
    bottom: 0;
    width: 21px;
    transition: all 0.3s ease;
  }

  &:hover {
    &:after {
      animation: burger 0.3s infinite ease-in-out;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

@media screen and (max-width: 1650px) {
  .header {
    padding-top: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 14px 25px;
  }
  .header__logo {
    width: 108px;
  }

  .header__burger {
    width: 26px;
    &::before {
      height: 2px;
    }
    &:after {
      height: 2px;
      width: 14px;
    }
  }
}

@keyframes burger {
  from {
    left: 0;
  }

  to {
    left: 12px;
  }
}
