.sidebar {
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #06061f;
  max-width: 727px;
  width: 100%;
  z-index: 3;
  height: 100vh;
  box-shadow: 33px -58px 44px rgba(0, 0, 0, 0.26);
  transform: translate(-101%, 0px);
}

.sidebar__close {
  position: absolute;
  cursor: pointer;
  top: 76px;
  left: 66px;
  z-index: 3;
}

.sidebar__logo {
  margin-left: 53%;
  width: 167px;
}

.sidebar__ul {
  padding-top: 106px;
}

.sidebar__li {
  font-family: "Graphik", sans-serif;
  padding-left: 53%;
  font-style: normal;
  font-weight: 200;
  font-size: 52px;
  line-height: 57px;
  color: #ffffff;
  transition: color 0.3s ease;
  margin-bottom: 52px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 0;
    background-color: var(--blue);
  }
  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &:hover {
    color: #92ccff;
  }

  &:active {
    color: var(--blue);
  }

  &.active {
    color: var(--blue);
    &::before {
      content: "";
      position: absolute;
      right: 0;
      height: 100%;
      width: 3px;
      background-color: var(--blue);
    }
  }
}

.sidebar__socials {
  margin-top: 72px;
  display: flex;
  align-items: center;
  margin-left: 53%;
}

.sidebar__social {
  background: #0f0f32;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 26px;
  transition: background, box-shadow 0.3s ease;
  img {
    width: 22px;
  }

  &:hover {
    background: #414bff;
    box-shadow: 0px 4px 38px rgba(65, 75, 255, 0.74);
  }

  &:active {
    box-shadow: none;
  }
}

@media screen and (max-width: 1650px) {
  .sidebar {
    max-width: 600px;
  }

  .sidebar__logo {
    margin-left: 250px;
  }

  .sidebar__ul {
    padding-top: 70px;
  }

  .sidebar__li {
    padding-left: 250px;
  }
  .sidebar__socials {
    margin-left: 250px;
  }
}

@media screen and (max-width: 1440px) {
  .sidebar {
    max-width: 380px;
  }

  .sidebar__close {
    top: 66px;
    left: 38px;
  }

  .sidebar__logo {
    margin-left: 100px;
  }

  .sidebar__li {
    font-size: 42px;
    line-height: 42px;
    padding-left: 100px;
    margin-bottom: 40px;
  }
  .sidebar__socials {
    margin-left: 100px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    max-width: none;
    width: 100%;
  }

  .sidebar__wrap {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 130px;
    justify-content: space-evenly;
  }

  .sidebar__logo {
    margin-left: 0;
  }

  .sidebar__li {
    padding-left: 0;
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 27px;
  }

  .sidebar__li.active::before {
    width: 66px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    right: -100px;
  }

  .sidebar__socials {
    margin-left: 0;
  }

  .sidebar__social {
    width: 38px;
    height: 38px;

    img {
      width: 16px;
    }
  }
}
