.trust {
    padding-top: 255px;
    padding-bottom: 134px;
}

.trust-title {
    text-transform: none;
}

.trust-subtitle {
    margin-top: 30px;
}

.trust-form {
    margin-top: 54px;
    max-width: 724px;
    width: 100%;

    form {
        margin-top: 55px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    input {
        background: #050623;
        border: 1px solid #0e0f2f;
        box-sizing: border-box;
        border-radius: 4px;
        max-width: 350px;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        padding: 14px 22px;
        color: #fff;
        margin-bottom: 21px;
        &::placeholder {
            color: #48496a;
        }

        &:focus {
            background: #0b0c2f;
            box-shadow: 0px 6px 94px rgba(0, 0, 0, 0.65);
        }
    }
}

.trust-form__footer {
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
}

.trust-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.trust-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2e2f46;
}

.trust-checkbox__text {
}

.trust-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 1px solid #48496a;
    box-sizing: border-box;
    transition: all 0.3s ease;
    border-radius: 4px;
    margin-right: 11px;
}

.trust-checkbox:checked + label::after {
    content: "";
    position: absolute;
    transition: all 0.3s ease;
    width: 16px;
    left: 5px;
    height: 16px;
    background: #0e4bde;
    box-shadow: 0px -1px 8px rgba(12, 73, 215, 0.93);
    border-radius: 4px;
}

.trust-checkbox__text {
}

.trust-form__btn {
    display: block;
    margin-top: 46px;
    padding: 19px 195px 19px 13px;
    background: #0e4bde;
    box-shadow: 0px -1px 56px -10px #0c49d7;
    border-radius: 4px;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    &::before {
        content: "";
        position: absolute;
        right: 30px;
        top: 24px;
        background-image: url(../img/btn-arr.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 8px;
    }
}

.coordinates {
    margin-top: 92px;
}

.coordinates__title {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
}

.coordinates__address {
    margin-top: 24px;
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

.coordinates__email {
    margin-top: 24px;
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

.copyright {
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #515265;
    margin-top: 86px;
}
